<footer
  class="footer py-2 mt-auto"
  style="background: #f0ece5; color: #ee7214; text-align: center"
>
  <div class="container">
    <span class="">&#127821; FruitPedia 2023 &copy; Yuhan Wei</span>
  </div>
</footer>
